.NewCollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px ;
    background: #fff;
}
.NewCollection h1{
    font-size: 35px;
    color: #171717;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.NewCollection hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    margin-right: 10px;
    margin-left: -40px;
}
@media(max-width:1280px){
    .NewCollection h1{
        font-size: 40px;
    }
    .collections{
       gap: 20px;
       margin-top: 30px;

    }
    .NewCollection hr{
        width: 160px;
        height: 4px;
    }
}
@media(max-width:1024px){
    .NewCollection h1{
        font-size: 30px;
    }
    .collections{
       gap: 15px;
       margin-top: 20px;

    }
    .NewCollection hr{
        width: 120px;
        height: 3px;
    }
}
@media(max-width:800px){
    .NewCollection{
      
        gap: 6px;
    }
    .NewCollection h1{
        font-size: 20px;
    }
    .collections{
       gap: 5px;
      

    }
    .NewCollection hr{
        width: 100px;
        
    }
}
@media(max-width:500px){
    
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}