.slider-container{
    width: 103%;
    height: 500px;
    position: relative;
    margin-bottom: 150px;
    margin-top: 10px;
}
.slider-container img{
    width: 100%;
    height: 120%;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.slider-container img.active{
    opacity: 1;
}
