.DescriptionBox{
    margin: 190PX 70PX;
  
}
.descriptionBox-navigator{
    display: flex;
   

}
.descriptionBox-nav-box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 161px;
    height: 60px;
    border: 1PX solid #d0d0d0;
}
.descriptionBox-nav-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 161px;
    height: 60px;
    border: 1PX solid #d0d0d0;
}
.descriptionBox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.descrionBox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 60px;
}