.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 150px ;
    margin-top: 150px;
    padding: 0px 200px;
    border-radius: 40px;

}
.app h1{
    font-size: 35px;
    font-weight: 200;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #171717;
    margin-top: 20px;
   
}
.app hr{
    width: 250px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 20px;
}