
.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: rgb(165, 169, 173);
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #d1d6d6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #d1d6d6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item1 img{
    width: 35px;
    margin-right: 3px;
}





@media(max-width:800px){
    .sidebar{
        padding: 30px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .sidebar-item{
        margin: 0;
    }
}