.checkout{
    padding: 20px 20px;
    display: flex;
    margin-bottom: 100px;   
}
.checkout h1{
    color: #3d3d3d;
    font-size: 27px;
    font-weight: 700px;
    margin-top: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
.checkout-left{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
    width: 20%;
   
}

.checkout-left h1{
    margin-top: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkout-left img{
    width: 100px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.checkout-left p{
    font-size: 15px;
    margin-left: 20px;
}
.checkout-left h3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.checkout-left h2{
    display: inline;
    font-size: 23px;
    font-weight: 600;
    margin: 25px 0px;
}
.checkout-left hr{
    width: 100%;
}
.checkout-left-all{
   overflow-x: scroll;
   
   
}
.checkout-right{
    box-sizing: border-box;
    max-width: 50%;
    margin: 10px 150px;
    border-radius: 6px;
    background: white;
    margin-left: 200px;
    margin-top: 30px;
    
}
.checkout-right h1{
    margin-bottom: 10px;
}
.checkout-right p{
    font-size: 16px;
    margin-left: -2px;
}
.checkout-right-form{
    margin-top: 25px;
    
    color: #6b6767;
    font-size: 16px;

}
.checkout-right-form input{
    box-sizing: border-box;
    width: 100%;
    height:35px;
    border-radius: 4px;
    padding-left: 15px;
    border:  1px solid #c3c3c3;
    outline: none;
    color: #0a0a0a;
    font-family: "poppins";
    font-size: 14px;
    font-weight: 500;
}
.checkout-right-form-double{
   display: flex;
   gap: 40px;
}
.checkout-right button{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    background-color: #ff5a5a;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 60px;
}
.error-message {
    color: rgb(248, 30, 30);
    font-weight: bold;
    margin-top: 10px;
  }

  @media (max-width: 1024px) {
    .checkout {
        flex-direction: column;
        align-items: center;
    }

    .checkout-left, .checkout-right {
        width: 80%;
        margin: 20px 0;
    }

    .checkout-left {
        margin-left: 0;
    }

    .checkout-right {
        margin-left: 0;
    }
}

/* For screens less than 800px */
@media (max-width: 800px) {
    .checkout-left, .checkout-right {
        width: 90%;
    }

    .checkout-left h1 {
        font-size: 22px;
    }

    .checkout-left p, .checkout-left h3 {
        font-size: 14px;
    }

    .checkout-left h2 {
        font-size: 20px;
    }

    .checkout-right-form {
        font-size: 14px;
    }

    .checkout-right button {
        height: 40px;
        font-size: 16px;
    }
}

/* For screens less than 500px */
@media (max-width: 500px) {
    .checkout-left, .checkout-right {
        width: 95%;
    }

    .checkout-left h1 {
        font-size: 20px;
    }

    .checkout-left p, .checkout-left h3 {
        font-size: 13px;
    }

    .checkout-left h2 {
        font-size: 18px;
    }

    .checkout-right-form {
        font-size: 13px;
    }

    .checkout-right button {
        height: 35px;
        font-size: 14px;
    }

    .checkout-right-form input {
        height: 30px;
    }
}

/* For screens less than 300px */
@media (max-width: 300px) {
    .checkout-left, .checkout-right {
        width: 100%;
        margin: 10px 0;
    }

    .checkout-left h1 {
        font-size: 18px;
    }

    .checkout-left p, .checkout-left h3 {
        font-size: 12px;
    }

    .checkout-left h2 {
        font-size: 16px;
    }

    .checkout-right-form {
        font-size: 12px;
    }

    .checkout-right button {
        height: 30px;
        font-size: 12px;
    }

    .checkout-right-form input {
        height: 25px;
        font-size: 12px;
    }
}