.newsLetter{
    width: 65%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #e1e1ff 0%, #e1ffea22 60%);
    gap: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 20px 21px 27px -20px rgba(0,0,0,0.21); 
    box-shadow: 0px 10px 13px -7px #000000, 20px 21px 27px -20px rgba(0,0,0,0.21);
}
.newsLetter h1 {
    font-size: 50px;
    color: #333;
  }
  
  .newsLetter p {
    font-size: 22px;
    color: #666;
    font-weight: 400px;
  }
  
  .newsLetter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .newsLetter .email {
    padding: 10px;
    font-size: 1em;
    border: #bbb7b7;
    color: #616161;
    border-radius: 10px;
    margin-right: 10px;
    width: 520px;
    height: 3vh;
  }
  
  .newsLetter button {
    width: 150px;
    height: 5vh;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsLetter button:hover {
    background-color: #0056b3;
  }

  @media (max-width: 1024px) {
    .newsLetter {
        width: 80%;
        padding: 0 100px;
        height: auto; /* Adjust height based on content */
    }

    .newsLetter h1 {
        font-size: 40px;
    }

    .newsLetter p {
        font-size: 20px;
    }

    .newsLetter .email {
        width: 400px;
    }

    .newsLetter button {
        width: 140px;
    }
}

/* For screens less than 800px */
@media (max-width: 800px) {
    .newsLetter {
        width: 90%;
        padding: 0 60px;
    }

    .newsLetter h1 {
        font-size: 35px;
    }

    .newsLetter p {
        font-size: 18px;
    }

    .newsLetter .email {
        width: 300px;
    }

    .newsLetter button {
        width: 130px;
    }
}

/* For screens less than 500px */
@media (max-width: 500px) {
    .newsLetter {
        width: 95%;
        padding: 0 30px;
        gap: 20px;
        margin-bottom: 100px;
    }

    .newsLetter h1 {
        font-size: 30px;
    }

    .newsLetter p {
        font-size: 16px;
    }

    .newsLetter .email {
        width: 250px;
        font-size: 0.9em;
    }

    .newsLetter button {
        width: 120px;
        height: 4vh;
        font-size: 0.9em;
    }
}

/* For screens less than 300px */
@media (max-width: 300px) {
    .newsLetter {
        width: 100%;
        padding: 0 10px;
    }

    .newsLetter h1 {
        font-size: 25px;
    }

    .newsLetter p {
        font-size: 14px;
    }

    .newsLetter .email {
        width: 200px;
        font-size: 0.8em;
    }

    .newsLetter button {
        width: 100px;
        height: 3.5vh;
        font-size: 0.8em;
    }
}