.navBar{
    display: flex;
    justify-content: space-around;
    padding: 16;
    box-shadow: 0 1px 3px -2px black;
    width: 100%;
    background: #d8d5d5;
    align-items: center;

}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
   
    
}
.nav-logo h1{
    color: #3d3c3c;
    font-size: 30px;
    font-weight: 600px;
    font-family:'Times New Roman', Times, serif;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color:#0a0a0a;
    margin-left: 150px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #0a0a0a;
    
   
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 20px;

}
.login-button{
    width: 130px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #777777;
    background-color: #c1c1d1;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
   
}
.login-button:active{
    background: #686363;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-left: -30px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: #fff;
}
.navbar-dropdown{
    display: none;
}

/*resize for any device*/

@media (max-width: 1280px) {
    .navBar {
        padding: 12px 30px; 
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo h1 {
        font-size: 25px; 
    }

    .nav-menu {
        gap: 25px;
        font-size: 16px;
    }

    .login-button {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }

    .nav-cart-count {
        font-size: 12px;
    }
}


@media (max-width: 1024px) {
    .navBar {
        padding: 12px 20px; 
    }

    .nav-menu {
        gap: 20px;
        font-size: 14px;
    }

    .login-button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 800px) {
    .navBar {
        padding: 10px 15px; 
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-right: 40px;
        text-align: center;
        top: 20px; 
        background-color: #d8d5d5;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 
    }

    .navbar-dropdown {
        display: block;
        transition: transform 0.3s ease-in-out; 
        width: 20px;
        height: 20px;
    }

    .nav-menu-visible {
        display: flex;
    }

    .navbar-dropdown.open {
        transform: rotate(180deg); 
    }
}


@media (max-width: 500px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        transform: scale(0.8);
        margin-bottom: 10px; 
    }

    .nav-menu {
        top: 5px; 
    }

    .nav-login-cart {
        transform: scale(0.8);
        margin-top: 10px; 
    }

    .login-button {
        width: 70px; 
        font-size: 12px; 
    }
}